:root {
    --link-title: #00af5f;
    --link-text: #008787;
    --link-text-P3: #3a8586;
    --body-text: #c6c6c6;
    --heading-color: #00afff;
    --solo-link: #ff87d7;
    --inline-code-background: #2a2a2a;
    --inline-code-text: #ff5f5f;

    --body-background-color: #232322;
    /*--body-background-color: #000000;*/
    /*--body-background-color: #292b35;*/
}

a, a:hover, a:active, a:visited {
    color: #03af5f;
    text-decoration: none;
    font-weight: bold;
}


body {
    color: #c6c6c6;
    background-color: var(--body-background-color);
    font-family: Consolas, monaco, monospace;
}

/*-------------*/
/* --- #'s --- */
/*-------------*/
h2::before { content: "## "; }
h3::before { content: "### "; }
h4::before { content: "#### "; }

h1 {
    display:inline;
    background-color: #5f5fff;
    color: #fffb87;
    font-size: 1rem;
    padding-left: 1em;
    padding-right: 1em;
}

h2, h3, h4, h5 {
    color: #00afff;
    font-size: 1rem;
}

body {
    font-size: 1rem;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    max-width: 40em;
}

header {
    /*text-align: left; !important;*/
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 10em;
}

footer {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 0.075em solid rgb(85, 85, 85);
}

/* all 'a' that are not within a 'span' within a 'header' */
*:not(header > span) > a::after{
    content: attr(href);
    color: var(--link-text);
    text-decoration: underline;
    font-weight: normal;
    padding-left: 5px;

}

header > span > a, header > span > a:visited {
    /*color: inherit;*/
    font-weight: normal;
}

a:hover::after {
    color: #366fc2;
}

code {
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--inline-code-background);
    color: var(--inline-code-text);
}

pre {
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
    padding-right: 10px;
    background-color: var(--inline-code-background);
    color: #d7d7af;
}

img {
    max-width: 100%;
    max-height:100%;
}

/*JS Only Styles*/
.lonesome-link, .lonesome-link::after {
    color: var(--solo-link);
}